{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="container">
		<div class="row mb-4">
      <div class="col-md-8">
        <h1>Todo List</h1>
      </div>
    <div class="col-md-4 text-right">
      <a class="btn btn-secondary" href="{% url 'tag_create' %}">Add New Tag</a>
    </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      {% for tag in object_list %}
      <tr>
        <td>{{ tag.name }}</td>
        <td>
            <a class="btn btn-secondary" href="{% url 'tag_update' tag.id %}">Update</a>
        </td>
        <td>
          <a class="btn btn-secondary" href="{% url 'tag_delete' tag.id %}">Delete</a>
        </td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
